#txt2img_size_toolbox,
#img2img_size_toolbox {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#txt2img_ratio select,
#img2img_ratio select {
    appearance: none;
    box-sizing: border-box;
  	padding: 8px 4px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: var(--block-label-text-color);
    background-image: none;
    background: var(--background-fill-primary);
    border: 1px solid var(--block-border-color);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}